:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  flex-direction: row;
  width: 100vw;
  /* height: 100vh; */
  justify-content: space-around;
  align-items: center;
}

ul li{
  list-style-type: none;
  padding: 5px;
  font-size: 20px;
}

.container{
  display: inline-block;
  padding: 1rem;
}

.with-swr{
  background: #7a7af4;
}

.with-fetch{
  background: rgb(226, 135, 217)
}